
.span9
  %h1 Available Groups


  %ul
    -@groups.each do |group|
      %li= link_to group.name, discussion_group_path(group)

-if current_user.is_admin?
  .span3
    =link_to "Admin Panel", admin_discussion_groups_path, :class => "btn btn-panel btn-success"




