
.span9
  %h1 Available Groups


  %ul
    -@groups.each do |group|
      %li
        %strong= group.name
        = link_to "join", discussion_group_path(group), :class => "btn btn-primary btn-mini"

-if current_user.is_admin?
  .span3
    =link_to "Admin Panel", admin_discussion_groups_path, :class => "btn btn-panel btn-success"




