%li(id="#{user.id}")
  .span4= user.full_name
  = link_to "Add", add_user_discussion_group_path(@group, :user_id => user.id),
   :method => :post, :remote => true, :class => "btn btn-success btn-mini"
