// Place all the styles related to the DiscussionGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discussion_group li, li.participant-list {
  padding-bottom: 5px;
  padding-top: 5px;
  list-style: none;
}

.edit-topic {

}

.topic, .members {
  border: 0;
  color: #000;
  padding: 2px 5px 2px 5px;
  margin: 0;
}

.topic-view {
  padding-bottom: 10px;
  margin-bottom: 10px;

  h1 {
    font-size: 190%;
  }
}

.messages {
  height: 400px;
  overflow-y: scroll;

  .span12 {
    margin-left: 0;
  }

  .well-small {
    margin-bottom: 10px;
  }

  .author {
    color: #888;
  }
}

.message-box {
  margin-left: 0;
  background: lighten(#ccc, 5%);
  padding: 10px 10px 0 10px;

  textarea {
    width: 98%;
    border: 1px solid #888;
  }
}
