// Place all the styles related to the DiscussionGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discussion_group li, li.participant-list {
  padding-bottom: 5px;
  padding-top: 5px;
  list-style: none;
}

.messages {
  position: fixed;
  height: 50%;
  overflow-y: scroll;
}

.participants {
  position: fixed;
  right: 20px;
}

textarea.topic-text {
  width: 400px;
  height: 100px;
}

.message-box {
  background: #fff;
  padding: 20px 0 0 0;
  border-top: 2px solid #ccc;

  textarea {
    background: #ccc;
    &:hover, &:focus {
      background: #fff;
    }
  }

  .btn {
    margin-top: -10px;
  }
}

.edit-topic {
  float: left;
  position: relative;
  top: -35px;
  left: 94%;
}

.topic {
  background: #20b2aa;
  color: #fff;
  font-size: 140%;
  padding: 10px;
  margin: 0;
}

.topic-view {
  h1 {
    font-size: 190%;
  }
}